@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0;list-style:none;}
body{ font-family:"微软雅黑"	; font:14px/1.5 arial,"\5FAE\8F6F\96C5\9ED1"; background:#C66;background: url(images/body-bg.jpg) 50% 60px no-repeat rgb(10, 11, 19); border:none; position:relative}
img{border:none;}
/*font-style（使用斜体、倾斜或正常字体）font-variant（设置小型大写字母的字体显示文本）font-weight（设置文本的粗细）font-size/line-height（设置字体的尺寸和行高）font-family（规定元素的字体系列）*/
/*background: url(images/body-bg.jpg) 50% 128px*/
a{ text-decoration:none; color:#333;}/*文本修饰无*/
/*==========================header================*/
.header{background:#181e30; width:100%; height:90px;}
.header2{display:none}
.header-content{margin:0 auto; width:70%; min-width:800px; max-width:1200px; height:90px;}
.header-left{margin-top:24px; float:left;}
.header-nav{width:80%; float:left;}
.csnav{float:right; width:100%; color:#FFF;cursor:default;}
.csnav>li{ float:left; width:16%;  height:90px; text-align:center; position:relative}
.csnav>li>span{width:92px; height:22px; margin:34px auto; display:block; color:#fff; font-size:18px;}
.list1{position:absolute; display:none; height:0px; background:#181e30; border-radius:6px; top:80px; left:3px;}
.list1 li{width:100px; height:0px; margin:0 auto; margin-top:10px;text-align:center;}
.list1 li a{width:92px; height:22px; display:block; position:relative;left:3px;}
.list1 li a span{width:92px; height:22px; display:block; position:absolute; color:#FFF;top:0px; z-index:1;font-size:14px;}
.list1 li a label{width:92px; height:22px; display:block; position:absolute; top:0px; left:-100px; z-index:0}
/*==========================header end================*/


/*=========================content================*/
.content{width:1320px; margin:0 auto;  margin-top:500px;  height:855px; position:relative;overflow:hidden;}/**/
.content1{width:330px; height:260px;float:left; margin-top:25px;background:#999; }/* background:#999; */
.content2{width:660px; height:260px;background:#999; float:left; margin-top:25px;}
.content .contents2{display:block}


.contents3,.contents4,.contents5,.contents7{position:relative;} /*background:#FFF}*/
.contents1 .register{background:url(images/bg_register.jpg); width:330px; height:80px;}/*contents1*/
.contents1 .bth,.contents1 .bth-hover{ background:url(images/bth.gif); width:330px; height:180px;display:block;}
/*.contents1 .bth:hover{ background:url(images/bth-hover.gif);}*/
.contents1 .register a{background:url(images/btn-reg.png); display:block; width:165px; height:80px; float:left;}
.contents1 .register .bth-reg2{background-position:-165px 0;}
.contents1 .register .bth-reg1:hover{background-position:0 -80px;}
.contents1 .register .bth-reg2:hover{background-position:-165px -80px;}
.contents2 .banner{width:660px; height:260px; position:relative; overflow:hidden}/*contents2*/
.contents2 .bpiclist{width:66px; height:260px; position:relative; }
.contents2 .bpiclist li{float:left;width:100px;height:260px;}
.contents2 .banner .biconbox{position:absolute; top:230px; height:20px; width:660px;}
.contents2 .banner .biconbox li{float:left; height:20px; width:20px; margin-left:20px; background:#00F;}
.contents2 .banner .biconbox li{background:#3d4a73}
.contents2 .banner .biconbox .icur{background:#FFF}
.contents3 .edition{width:660px; height:260px;}/*contents3*/
.contents3 .edition .bg-ver{background:url(images/bg_evt.jpg); width:330px; height:130px; position:relative;}
.contents3 .edition .bg-evt{background:url(images/bg_ver.jpg); width:330px; height:130px; position:relative;}
.contents3 .edition a{display:block; border-radius:20px; height:25px; width:100px; position:absolute; text-align:center; line-height:25px;}
.contents3 .edition .bg-evt a{border:#5db5d1 solid 1px; color:#5db5d1; left:16px; top:80px;}
.contents3 .edition .bg-ver a{ border:#98b0f0 solid 1px; color:#98b0f0; left:16px; top:80px;}
.contents3 .edition .bg-evt a:hover{background:#5db5d1;color:#FFF;}
.contents3 .edition .bg-ver a:hover{background:#98b0f0;color:#FFF;}
.contents4 .news{background:#f5f6f8; width:660px; height:260px; position:relative}/*contents4*/
.contents4 .news .ncontent{width:470px; height:260px;float:left; position:relative; left:20px;}
.contents4 .nelista{width:300px;}
.ncontent .newtop{width:451px; height:45px;  position:relative;border-bottom:1px solid #d9dbe1;}
.newtop span,.newtop a{width:75px; height:45px; line-height:45px;text-align:center;color:#303e6a;display:block; float:left;cursor:pointer;}
.ncontent a:hover{color:#5b6fa6;}
.ncontent .newtop .on{width:75px;height:45px;display:block;border-bottom:2px solid #303e6a;font-size:16px;font-weight:600}
.ncontent ul{width:450px; height:200px; position:relative; top:15px; overflow:hidden; display:none}
.ncontent .nelist{display:block;}
.nelist li{ margin-top:8px;width:450px; overflow:hidden}
.nelist a{color:#888; float:left;}
.nelist .newtype{color:#5b6fa6;padding:0 8px;}
.nelist span{color:#888; float:right}
.nelist .nelista{width:250px; height:20px;}

.contents4 .news .newsbg{background:url(images/bg_news.jpg); width:190px; height:260px; float:left}
.contents5 .guide,.contents5 .guide a{background:url(images/bg_guide.jpg);width:330px; height:260px;display:block;}
.contents6 .video,.contents6 .video a{background:url(images/bg_video.jpg);width:330px; height:260px;display:block;}
.contents7 .mode{width:660px; height:260px;background:url(images/bg_mode.jpg);overflow:hidden;position:relative}/*contents7*/
.motop{width:290px; height:20px; margin:20px 20px;position:relative; z-index:2}
.motop span{padding:0 10px;border-right:2px solid #aab9e5;color:#aab9e5;font-size:18px;cursor:pointer;}
.motop .on{color:#e1e9ff;}
.motop .molast{border:none;}
.moleft{ width:255px; position:absolute; left:-280px; margin:20px 25px; z-index:1;cursor:default; color:#e1e9ff}
.moright{position:absolute; left:700px; top:0px; z-index:0;}
.contents8 .role{width:330px; height:260px;background:url(images/bg_role.jpg); overflow:hidden; position:relative}/*contents8*/
.rotop{width:290px; height:20px; margin:20px 20px;position:relative; z-index:2}
.rotop span{padding:0 10px;border-right:2px solid #868ca4;color:#868ca4;font-size:18px;cursor:pointer;}
.rotop .on{color:#3b4771;}
.rotop .rolast{border:none;}
.roleft{ width:150px; height:70px; position:absolute; left:-250px; top:80px; z-index:1;cursor:default;}
.roright{position:absolute; left:290px; top:0px; z-index:0;}
.name {font-size:18px;font-weight:bold;padding-right:5px;}
.rotype{background:#181e30;height:20px;line-height:18px; padding:0 5px;color:#f5f6f8;}
.contents9 .weapon{width:330px; height:260px;background:url(images/bg_weapon.jpg); overflow:hidden; position:relative}/*contents9*/
.wetop{width:290px; height:20px; margin:20px 20px;position:relative; z-index:2}
.wetop span{padding:0 10px;border-right:2px solid #1378a3;color:#1378a3;font-size:18px;cursor:pointer;}
.wetop .on{color:#b1bfd1;}
.wetop .welast{border:none;}
.weleft{ width:290px; height:84px; position:absolute; border-top:1px solid #266e98; left:20px; top:165px; z-index:1;cursor:default;padding-top:10px;line-height:20px;color:#50a9de;font-size:12px; display:none}
.weright{position:absolute; left:0px; top:0px; z-index:0;display:none}

.caicon{display:block; position:relative; width:65px; height:25px; line-height:25px; background:url(images/icon01.png); color:#3b4872;left:25px; top:165px;text-align:center; z-index:10}
.caicon:hover{color:#FFF}
/*=========================content end================*/
@media screen and (orientation: portrait) {}
@media screen and (orientation: landscape) {}
/*=========================footer================*/
.col-info{width:1320px; height:180px; margin:0 auto;margin-top:25px; overflow:hidden;background:#11131d;}
.col1{width:330px; height:180px; float:left; position:relative}
.cols1>div{width:50%; height:100%; float:left;}
.fotop{width:100%; height:43px;text-align:center; line-height:43px;border-bottom:1px solid #1c2135;font-size:12px;color:#3b4872; position:relative;}
.fweibo a{display:block;width:50%; height:100%; float:left;padding-top: 52px;}
.tweibo i{background:url(images/icon.png) no-repeat 0 0;margin:0 auto;display:block;width:37px;height:35px;}
.weibo i{background:url(images/icon.png) no-repeat 0 0;margin:0 auto;display:block;width:44px;height:35px;background-position:-40px 0;}
.wechat{margin:0 auto;display:block; width:100px;margin-top:15px;}
.ccols{color:#727e9e;width:250px;margin:20px auto;line-height:28px;font-size:12px;}
.ccols a{color:#727e9e;line-height:28px;font-size:12px;}
.col-info-footer{width:1320px; height:110px; margin:0 auto;margin-top:25px;color:#38446c;text-align:center;font-size:12px;line-height:30px;}
.fpiclist{background:#1c2135}
.cols4 .pre{width:18px; height:12px; background:url(images/icon.png) 0 -36px; display:block; position:absolute; top:15px; left:70%;cursor:pointer;}
.cols4 .next{width:18px; height:12px; background:url(images/icon.png) -18px -36px; display:block; position:absolute; top:15px; left:80%;cursor:pointer;}
.cols4 .fpiclist{width:100%; height:136px; position:relative; overflow:hidden;}
.fpiclist li{width:100%; height:136px; position:absolute; left:100%; top:0;}
.fpiclist img{position:relative;}
.fpiclist a{width:50%; height:136px; display:block; float:left}
/*=========================footer end================*/